@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "src/custom.variables";

.info-tooltip-trigger {
  position: relative;
  font-size: 1rem;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  border-width: max(2px, 0.2em);
  border-style: solid; 
  border-color: $gray-500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    position: absolute;
    background: $gray-500;
    width: 0.2em;
    border-radius: 0.1em;
    left: 0.5em;
  }

  &:before {
    height: 0.5em;
    bottom: 0.2em;
  }

  &:after {
    height: 0.2em;
    top: 0.2em;
  }

  &.opened:after,
  &.opened:before {
    width: 0.15em;
    height: 0.65em;
    top: 0.3em;
    left: 0.5em;
  }

  &.opened:before {
    transform: rotate(45deg);
  }

  &.opened:after {
    transform: rotate(-45deg);
  }

  &:hover {
    border-color: $indigo;

    &:before,
    &:after {
      background: $indigo;
    }
  }
}

.info-tooltip {
  background: $indigo;
  color: $white;
  padding: 1em;
  border: none;
  max-width: 19em;
  font-weight: 700;
  font-size: 0.7rem;

  &:after {
    content: '';
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0.4em;
    border-color: transparent transparent $indigo $indigo;
    top: -0.7em;
    left: 0;
  }
}
