@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "src/custom.variables";

.info-tooltip-trigger {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 2px solid $gray-500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    position: absolute;
    background: $gray-500;
    width: 0.2em;
    border-radius: 0.1em;
    transform: translate(-0.025em);
  }

  &:before {
    height: 0.5em;
    bottom: 0.2em;
  }

  &:after {
    height: 0.2em;
    top: 0.2em;
  }

  &.opened:after,
  &.opened:before {
    width: 0.15em;
    height: 0.6em;
  }

  &.opened:before {
    bottom: 0.285em;
    left: 0.525em;
    transform: rotate(45deg);
  }

  &.opened:after {
    top: 0.325em;
    right: 0.55em;
    transform: rotate(-45deg);
  }

  &:hover {
    border: 2px solid $indigo;

    &:before,
    &:after {
      background: $indigo;
    }
  }
}

.info-tooltip {
  background: $indigo;
  color: $white;
  padding: 1em;
  border: none;
  max-width: 19em;
  font-weight: 700;
  font-size: 0.7rem;

  &:after {
    content: '';
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0.4em;
    border-color: transparent transparent $indigo $indigo;
    top: -0.7em;
    left: 0;
  }
}
