@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.custom-radio {
  .form-check-label {
    margin-left: 0.3em;
  }

  .form-check-input {
    position: relative;

    &:checked {
      background-color: $white;
      border: 1px solid rgba(0,0,0,.25);
      background-image: none;

      &:after {
        content: '';
        position: absolute;
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%;
        background-color: $dark;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
